#edit-captcha-response--wrapper {
  width: 700px;
  margin: 0 auto 20px;
  padding-top: 20px;
}
#edit-captcha-response {
  border: none;
}

#edit-captcha-response .fieldset-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#edit-captcha-response .form-checkbox:focus + label {
  outline: 5px solid rgb(153,153,158);
}

#edit-captcha-response label {
  display: inline-block;
  padding: 15px;
  position: relative;
  
}

#edit-captcha-response .captcha-response-item {
  overflow: hidden;
  height: 200px;
  width: 200px;
  display: block;
}

#edit-captcha-response img {
  width: 200%;
}

/* When Checked */
#edit-captcha-response .form-checkbox:checked + label {
  border: 2px solid #EC4800;
}

#edit-captcha-response .form-checkbox:checked + label::before {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background: rgba(41, 41, 41, 0.9);
  content: "";
}

#edit-captcha-response .form-checkbox:checked + label::after {
  position: absolute;
  content: "\2713";
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  height: 70px;
  width: 70px;
  color: #EC4800;
  background: #ffffff;
  border-radius: 50%;
}

.nara-logo a {
  text-transform: lowercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 400;
  border-bottom: none;
}

.nara-logo a span {
  font-weight: 700;
}

.nara-logo a:hover {
  text-decoration: underline;
  border-bottom: none;
}

.nara-captcha-dark-theme {
  color: #ffffff;
}

.nara-captcha-dark-theme .details-wrapper {
  background: #292929;
  padding-bottom: 20px;
}

.nara-captcha-dark-theme .details-wrapper legend {
  padding: 10px 0;
  font-size: 24px;
  font-weight: 400;
  width: 100%;
  border-bottom: 1px solid #fff;
}

.nara-captcha-dark-theme #edit-captcha-response label {
  border: 2px solid #ffffff;
}

.nara-captcha-dark-theme .nara-logo a {
  color: #ffffff;
}

.nara-captcha-light-theme {
  color: #292929;
}

.nara-captcha-light-theme .details-wrapper {
  background: #ffffff;
  padding-bottom: 20px;
}

.nara-captcha-light-theme .details-wrapper legend {
  padding: 10px 0;
  font-size: 24px;
  font-weight: 400;
  width: 100%;
  border-bottom: 1px solid #555;
}

.nara-captcha-light-theme #edit-captcha-response label {
  border: 2px solid #292929;
}

.nara-captcha-light-theme .nara-logo a {
  color: #555;
}
